<div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel tile fixed_height_320">
        <div class="x_title">
            <h4>Add Patient</h4>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up" style="color:#1B3A8D;"></i></a>
                </li>
               
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">



            <div id="over" align="center">
                <span class="Centerer"></span>
                <img class="Centered" src="../assets/images/add.png" width="120" / align="center">
            </div>
            <div class="padding">
            </div>
            <div class="" align="center">

                <input type="submit" value="Add a patient" ui-sref="Addpatient" class="addtext">

            </div>

        </div>
    </div>
</div>

<div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel tile fixed_height_320">
        <div class="x_title">
            <h2>View patient's</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up" style="color:#1B3A8D;"></i></a>
                </li>
                <!-- <li class="dropdown"> -->
                <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a> -->
                <!-- <ul class="dropdown-menu" role="menu"> -->
                <!-- <li><a href="#">Settings 1</a> -->
                <!-- </li> -->
                <!-- <li><a href="#">Settings 2</a> -->
                <!-- </li> -->
                <!-- </ul> -->
                <!-- </li> -->
                <!-- <li><a class="close-link"><i class="fa fa-close"></i></a> -->
                <!-- </li> -->
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">



            <div id="over" align="center">
                <span class="Centerer"></span>
                <img class="Centered" src="../assets/images/users.png" width="120" / align="center">
            </div>
            <div class="padding">
            </div>
            <div class="" align="center">


                <input type="submit" value="view Patient" ui-sref="ViewProfile" class="addtext">


            </div>





        </div>
    </div>
</div>

<!--<div class="col-md-4 col-sm-4 col-xs-12">
<div class="x_panel tile fixed_height_320">
        <div class="x_title">
            <h2>Notifications</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                &lt;!&ndash; <li class="dropdown"> &ndash;&gt;
                &lt;!&ndash; <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a> &ndash;&gt;
                &lt;!&ndash; <ul class="dropdown-menu" role="menu"> &ndash;&gt;
                &lt;!&ndash; <li><a href="#">Settings 1</a> &ndash;&gt;
                &lt;!&ndash; </li> &ndash;&gt;
                &lt;!&ndash; <li><a href="#">Settings 2</a> &ndash;&gt;
                &lt;!&ndash; </li> &ndash;&gt;
                &lt;!&ndash; </ul> &ndash;&gt;
                &lt;!&ndash; </li> &ndash;&gt;
                &lt;!&ndash; <li><a class="close-link"><i class="fa fa-close"></i></a> &ndash;&gt;
                &lt;!&ndash; </li> &ndash;&gt;
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">



            <div id="over" align="center">
                <span class="Centerer"></span>
                <img class="Centered" src="../assets/images/notification.png" width="120" / align="center">
            </div>
            <div class="padding">
            </div>
            <div class="" align="center">


                <input type="submit" value="coming soon " class="addtext">


            </div>





        </div>
    </div>
</div>-->
<div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel tile fixed_height_320">
        <div class="x_title">
            <h2>Add a family member</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up" style="color:#1B3A8D;"></i></a>
                </li>
                <!-- <li class="dropdown"> -->
                <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a> -->
                <!-- <ul class="dropdown-menu" role="menu"> -->
                <!-- <li><a href="#">Settings 1</a> -->
                <!-- </li> -->
                <!-- <li><a href="#">Settings 2</a> -->
                <!-- </li> -->
                <!-- </ul> -->
                <!-- </li> -->
                <!-- <li><a class="close-link"><i class="fa fa-close"></i></a> -->
                <!-- </li> -->
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">



            <div id="over" align="center">
                <span class="Centerer"></span>
                <img class="Centered" src="../assets/images/users.png" width="120" / align="center">
            </div>
            <div class="padding">
            </div>
            <div class="" align="center">


                <input type="submit" value="Add a family member" ui-sref="careTaker" class="addtext">


            </div>





        </div>
    </div>
</div>




<div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel tile fixed_height_320">
        <div class="x_title">
            <h2>Help</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up" style="color:#1B3A8D;"></i></a>
                </li>
                <!-- <li class="dropdown"> -->
                <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a> -->
                <!-- <ul class="dropdown-menu" role="menu"> -->
                <!-- <li><a href="#">Settings 1</a> -->
                <!-- </li> -->
                <!-- <li><a href="#">Settings 2</a> -->
                <!-- </li> -->
                <!-- </ul> -->
                <!-- </li> -->
                <!-- <li><a class="close-link"><i class="fa fa-close"></i></a> -->
                <!-- </li> -->
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">



            <div id="over" align="center">
                <span class="Centerer"></span>
                <img class="Centered" src="../assets/images/help_img.png" width="120" / align="center">
            </div>
            <div class="padding">
            </div>
            <div class="" align="center">


                <input type="submit" value="Help" ui-sref="help" class="addtext">


            </div>





        </div>
    </div>
</div>