
<div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel tile fixed_height_320">
        <div class="x_title">
            <h2 style="padding-left:3%;font-size:16px;font-weight:bold;">Add Patient</h2>
            <ul class="nav navbar-right panel_toolbox">
               
               
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">



            <div id="over" align="center">
                <span class="Centerer"></span>
                <img class="Centered" src="../assets/images/add.png" width="120" / align="center">
            </div>
            <div class="padding">
            </div>
            <div class="" align="center">


                <input type="submit" value="Add Patient" ui-sref="Addpatient" class="addtext">


            </div>





        </div>
    </div>
</div>

<div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel tile fixed_height_320">
        <div class="x_title">
            <h2 style="padding-left:3%;font-size:16px;font-weight:bold;">View Patient</h2>
            <ul class="nav navbar-right panel_toolbox">
               
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">



            <div id="over" align="center">
                <span class="Centerer"></span>
                <img class="Centered" src="../assets/images/users.png" width="120" / align="center">
            </div>
            <div class="padding">
            </div>
            <div class="" align="center">


                <input type="submit" value="View Patient" ui-sref="ViewProfile" class="addtext">


            </div>





        </div>
    </div>
</div>


<div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel tile fixed_height_320">
        <div class="x_title">
            <h2 style="padding-left:3%;font-size:16px;font-weight:bold;">Add Family Member</h2>
            <ul class="nav navbar-right panel_toolbox">
               
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">



            <div id="over" align="center">
                <span class="Centerer"></span>
                <img class="Centered" src="../assets/images/users.png" width="120" / align="center">
            </div>
            <div class="padding">
            </div>
            <div class="" align="center">


                <input type="submit" value="Add Family Member" ui-sref="careTaker" class="addtext">


            </div>





        </div>
    </div>
</div>




<div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel tile fixed_height_320">
        <div class="x_title">
            <h2 style="padding-left:3%;font-size:16px;font-weight:bold;">Help</h2>
            <ul class="nav navbar-right panel_toolbox">
               
                
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">



            <div id="over" align="center">
                <span class="Centerer"></span>
                <img class="Centered" src="../assets/images/help_img.png" width="120" / align="center">
            </div>
            <div class="padding">
            </div>
            <div class="" align="center">


                <input type="submit" value="Help" ui-sref="help" class="addtext">


            </div>





        </div>
    </div>
</div>